:root {
  font-family: sans-serif;
  color-scheme: light dark;
  color: rgba(240 240 240);
  background: rgb(24 24 24);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

body {
  font-size: 20px;
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}

no-support {
  margin: auto;
}
